{% extends 'layouts/nav.html' %}
{% block content %}
    <h1>Tasks</h1>
    <a href="{% url "createtask" %}">Create new task</a>
    <section class="tasks_container">

        {% for x in tasks %}
            {# CADA TAREA CON SU BOX #}
            <div class="task_box">
                <p> {% if x.done == True %} 💯 {% else %} ⏰ {% endif %} Task: {{ x.title }}</p>
                <p>Estado:
                    {% if  x.done == False %}
                        ⏰Pendiente
                    {% else %}
                        💯 Realizada
                    {% endif %}
                </p>
                <p>Description: {{ x.description }}</p>
                <p>Project: {{ x.project.name }} | ID: {{ x.project.id }}</p>
                <div class="buttons_task">
                    {# BOTONES DE BORRAR Y HECHO #}
                    <button>Delete</button>
                    <button>✅ Done</button>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}